/*Основные цвета*/
:root {
 --primary-text-color: #434455;
 --title-color: #2E2F42;
--focus-color: #4D5AE5;
--hero-text-color: #FFFFFF;
--secondary-color: #F4F4FD;
--accent-color: #E7E9FC;
--background-color: #E5E5E5;
}

body {
    color: var(--primary-text-color);

    font-family: roboto, sans-serif;
}

.list {
    list-style: none;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}

h3 {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    letter-spacing: 0.02em;
}

.text {
    
    font-size: 16px;
    line-height: 1.5;
     
    letter-spacing: 0.02em;
}

/*Logo*/

.header-logo {
    font-family: raleway, sans-serif; 
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
}

.footer-logo {
    font-family: raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
}

.web {
    color: var(--focus-color)
}

.header-logo .studio {
color: var(--title-color);
}

.footer-logo .studio {
    color: var(--secondary-color);
}

/*Site nav*/

.list a {
    color: var(--title-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
 
    letter-spacing: 0.02em;
}

.list .link:hover {
    color: var(--focus-color);
}

.list .link:focus {
    color: var(--focus-color);
}

.list .link.current {
    color: var(--focus-color);
}

/*Contacts*/

.contacts a {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.5;
        
    letter-spacing: 0.02em;
}

.contacts .contact-link:hover {
    color: var(--focus-color);
}

.contacts .contact-link:hover {
    color: var(--focus-color);
}

/*Студія*/

/*Main*/

/*Hero*/
.hero {
    background-color: var(--title-color);
    color: var(--hero-text-color);

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
        
    text-align: center;
    letter-spacing: 0.02em;
}

/*Buttons*/

.button {
cursor: pointer;

font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;

}


.hero-btn {
    color: var(--hero-text-color);
    background-color: var(--focus-color); 
}


/*Features*/

.features .title {
    color: var(--title-color);
}

/*Work*/

.work > h2, .team >h2 {
color: var(--title-color);
}

/*Team*/

.list p.name {
color: var(--title-color);  
}

.team {
    background-color: var(--secondary-color);
}

/*Footer*/

.footer {
    background-color: var(--title-color);
}

.footer p {
    color: var(--accent-color);
    
}

/*Портфоліо*/

.filter-btn {
    color: var(--focus-color);
    background-color: var(--secondary-color);  
    
}

.list .filter-btn:hover {
    background-color: var(--focus-color);
    color: var(--hero-text-color);
}

.list .filter-btn:focus {
    background-color: var(--focus-color);
    color: var(--hero-text-color);
}


.list .link.current {
    color: var(--focus-color);
}

/*Projects*/

.project .project-title {
    color: var(--title-color);
}